	
		body {			
				background-color:none;
				background-image:linear-gradient(to top, LightYellow,GoldenRod );
				background-attachment:fixed;
				
				
				
				
				font-family: Blackletter, cursive;}
		
		header{	
				background-color:none;
				
				
				color:black;
				border: 4px solid black;
				border-radius: 10px;
				text-align: center;
				vertical-align: middle;
				height: 120px;
				width: 100%;
				font-weight: lighter;
				font-family: Blackletter, cursive;
				font-size: 25px;}
		
		header a {text-align: left;}
				
		nav{
					color:black;
			
			text-align: center;
			width: 100%;
			}
			
		nav a{	width: 12%;
				height: 45px;
				display: inline-block;
							color:black;
				padding: 12px;
				
				border: 3px solid black;
				border-radius: 10px;
				text-decoration: none;
				font-size: 20px;
				}
				
		aside {display: inline-block;
				vertical-align: top;
				height: 320px;
				width: 15%;
				border: 3px solid black;
				border-radius: 10px;}
		
		
		
				
	
		article header {	
				background-image:none;
				color:white;
				border: 4px solid black;
				border-radius: 10px;
				text-align: center;
				vertical-align: middle;
				height: 120px;
				width: 100%;
				font-weight: lighter;
				font-family: Blackletter, fantasy;
				font-size: 16px;}
				
		

				
	
				
		
				
		section {display: inline-block;
				color:white;
				border: 2px solid black;
				border-radius: 10px;
				vertical-align: top;
				
				padding: 20px;
				width: 62%;}
				
		article {	
					color:black;
					border: 2px solid black;
					border-radius: 10px;
					padding: 10px;}
					
		article p{	color: black;
					}
					
		section section {	padding: 2px;
							color:white;
							
							
							border: none;}
							
		section header {
					color:black;
				border: 4px solid black;
				border-radius: 10px;
				text-align: center;
				vertical-align: middle;
				height: 20px;
				
				font-weight: lighter;
				font-family: Blackletter, cursive;}
		
		
		
		